.contact-section {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5rem 2rem;
  text-align: center;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
}

.contact-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.contact-container p {
  font-size: 1.125rem;
  color: #cdd4f6;
  margin-bottom: 2rem;
}

.contact-form {
  margin-top: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #1a1a2e;
  color: white;
}

.submit-button {
  padding: 0.75rem 2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

}

@media (max-width: 600px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }
}